
body{
    background-color: azure;
}
.container-fluid{
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(192, 231, 190);
    padding: 5px;
}
#menu-link{
    color: black;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    margin-left: 2rem;


}

#menu-link:hover{
    background-color: rgb(102, 153, 102);
}

.home-logout{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

#homebtn{
    padding: 1%;
    width: 30%;
    
}
#homeh1{
    text-align: center; color: brown; text-shadow: 1px 2px green; font-size: 3rem;
}

.homeimg{
    width: 70%; height: 70%; border-radius: 30px; border-color: darkgreen; border-style: groove;
}
#homepara{
    color: rgb(0, 85, 0);
    font-size: 2rem;
    margin-top: 2px;
    margin-bottom: 5%;
}

.form-container{
    border-radius: 3%;
    border: 0.5px solid rgb(1, 56, 1); 
    margin-left: 35%;
    margin-right: 40%;
    padding: 40px 50px;
    width: 30%;
    background-color: rgb(248, 252, 252);
    -webkit-box-shadow: -3px -1px 4px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -3px -1px 4px -1px rgba(0,0,0,0.75);
box-shadow: -3px -1px 4px -1px rgba(0,0,0,0.75);
    
}

#footer{
    background-color: rgb(207, 233, 205);
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
}